# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
saves
screenshots
logs
crash-reports
world
whitelist.json
usercache.json
usernamecache.json
servers.dat
server.properties
options.txt
ops.json
Paulscode*
banned-*
CREDITS-fml.txt
forge-*changelog.txt
LICENSE-fml.txt
MinecraftForge-*.txt
README.txt
