# eclipse
*.launch
/.settings
/.metadata
/.classpath
/.project
/eclipse

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
/bin
logs
crash-reports
whitelist.json
usercache.json
usernamecache.json
servers.dat
server.properties
options.txt
ops.json
Paulscode*
banned-*
CREDITS-fml.txt
forge-*changelog.txt
LICENSE-fml.txt
MinecraftForge-*.txt
README.txt
